<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="styles/main.css">
  </head>
  <body ng-app="iPlayerApp">
    <!--[if lte IE 8]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
    <div class="header">
      <div class="navbar navbar-default" role="navigation">
        <div class="container">
          <div class="navbar-header">

            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#js-navbar-collapse">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>

            <a class="navbar-brand" href="#/"><img class='icon_img' src="images/icon_400x400.jpg"></a>
          </div>

          <div class="collapse navbar-collapse" id="js-navbar-collapse">
            <ul class="nav navbar-nav">
              <li class="active"><a href="#/">Home</a></li>
              <li><a ng-href="#/about">About</a></li>
              <li class="AZ"><a ng-click="isCollapsed = !isCollapsed">A-Z</a></li>
            </ul>
          </div>
          
          <div class='alphabetical' ng-controller='LettersController as letter'>
            <div uib-collapse="!isCollapsed">
              <button class='btn btn-sm' ng-click="letter.letterChange('a')">A</button>
              <button class='btn btn-sm' ng-click="letter.letterChange('b')">B</button>
              <button class='btn btn-sm' ng-click="letter.letterChange('c')">C</button>
              <button class='btn btn-sm' ng-click="letter.letterChange('d')">D</button>
              <button class='btn btn-sm' ng-click="letter.letterChange('e')">E</button>
              <button class='btn btn-sm' ng-click="letter.letterChange('f')">F</button>
              <button class='btn btn-sm' ng-click="letter.letterChange('g')">G</button>
              <button class='btn btn-sm' ng-click="letter.letterChange('h')">H</button>
              <button class='btn btn-sm' ng-click="letter.letterChange('i')">I</button>
              <button class='btn btn-sm' ng-click="letter.letterChange('j')">J</button>
              <button class='btn btn-sm' ng-click="letter.letterChange('k')">K</button>
              <button class='btn btn-sm' ng-click="letter.letterChange('l')">L</button>
              <button class='btn btn-sm' ng-click="letter.letterChange('m')">M</button>
              <button class='btn btn-sm' ng-click="letter.letterChange('n')">N</button>
              <button class='btn btn-sm' ng-click="letter.letterChange('o')">O</button>
              <button class='btn btn-sm' ng-click="letter.letterChange('p')">P</button>
              <button class='btn btn-sm' ng-click="letter.letterChange('q')">Q</button>
              <button class='btn btn-sm' ng-click="letter.letterChange('r')">R</button>
              <button class='btn btn-sm' ng-click="letter.letterChange('s')">S</button>
              <button class='btn btn-sm' ng-click="letter.letterChange('t')">T</button>
              <button class='btn btn-sm' ng-click="letter.letterChange('u')">U</button>
              <button class='btn btn-sm' ng-click="letter.letterChange('v')">V</button>
              <button class='btn btn-sm' ng-click="letter.letterChange('w')">W</button>
              <button class='btn btn-sm' ng-click="letter.letterChange('x')">X</button>
              <button class='btn btn-sm' ng-click="letter.letterChange('z')">Z</button>
              <button class='btn btn-sm' ng-click="letter.letterChange(0)">0</button>
              <button class='btn btn-sm' ng-click="letter.letterChange(1)">1</button>
              <button class='btn btn-sm' ng-click="letter.letterChange(2)">2</button>
              <button class='btn btn-sm' ng-click="letter.letterChange(3)">3</button>
              <button class='btn btn-sm' ng-click="letter.letterChange(4)">4</button>
              <button class='btn btn-sm' ng-click="letter.letterChange(5)">5</button>
              <button class='btn btn-sm' ng-click="letter.letterChange(6)">6</button>
              <button class='btn btn-sm' ng-click="letter.letterChange(7)">7</button>
              <button class='btn btn-sm' ng-click="letter.letterChange(8)">8</button>
              <button class='btn btn-sm' ng-click="letter.letterChange(9)">9</button>
            </div>
        </div>
      </div>
    </div>

    <div class="container">
    <div ng-view=""></div>
    </div>

    <div class="footer">
      <div class="container">
        <p><span class="glyphicon glyphicon-heart"></span> for unbiased tech tests </p>
      </div>
    </div>

    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/bootstrap-sass-official/assets/javascripts/bootstrap.js"></script>
    <script src="bower_components/angular-animate/angular-animate.js"></script>
    <script src="bower_components/angular-cookies/angular-cookies.js"></script>
    <script src="bower_components/angular-resource/angular-resource.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>
    <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
    <script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
   
        <script src="scripts/app.js"></script>
        <script src="scripts/controllers/main.js"></script>
        <script src="scripts/controllers/about.js"></script>
        <script src="scripts/controllers/pager.js"></script>
        <script src="scripts/controllers/letters.js"></script>
        <script src="scripts/services/programmesList.js"></script>
        <script src="scripts/services/pageInfo.js"></script> 
</body>
</html>
